#body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    scrollbar-width: none;
    background: rgba(204, 204, 204, 0.14);
    /* border-radius: 16px; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.7px);
    -webkit-backdrop-filter: blur(9.7px);
}
form {
    background-color: azure;
    padding: 1rem;
}