.song {
    background: #303030;
    padding: 0.5rem;
    margin: 1rem;
    color: white;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr;
    grid-gap: 0px;
}
#btn {
    grid-column: 1;
    max-width: 25%;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
  
.dropdown-content a {
    padding: 12px 16px;  
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
