* {
	margin: 0;
  font-family: 'Roboto';
}
#sidebar{
    height: 90vh;
    width: 15vw;
    background: #101727;
    grid-column: 1;
    grid-row: 1;
    color: white
}
#main {
    background-color: blue;
    height: 90vh;
    width: 85vw;
    grid-column: 2;
    grid-row: 1;
    overflow-y: scroll;
    scrollbar-width: none;
}
#footer{
    background-color: #101727;
    height: 10vh;
    width: 100vw;
    grid-row: 2;
    display: flex;
    align-items: center;
    color: white;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}