* {
	margin: 0;
  font-family: 'Roboto';
}
body{
    background: linear-gradient(45deg, #000850 0%, #000320 100%), 
                radial-gradient(100% 225% at 100% 0%, #FF6928 0%, #000000 100%), 
                linear-gradient(225deg, #FF7A00 0%, #000000 100%), 
                linear-gradient(135deg, #CDFFEB 10%, #CDFFEB 35%, #009F9D 35%, #009F9D 60%, #07456F 60%, #07456F 67%, #0F0A3C 67%, #0F0A3C 100%);
    background-blend-mode: screen, overlay, hard-light, normal;

}
#sidebar{
    height: 90vh;
    width: 15vw;
    /* background: #101727; */
    grid-column: 1;
    grid-row: 1;
    color: white;
    background: rgba(255, 255, 255, 0.14);
    /* border-radius: 16px; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.1px);
    -webkit-backdrop-filter: blur(4.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);

}
#main {
    /* background-color: blue; */
    height: 90vh;
    width: 85vw;
    grid-column: 2;
    grid-row: 1;
    overflow-y: scroll;
    scrollbar-width: none;
    background: rgba(204, 204, 204, 0.14);
    /* border-radius: 16px; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.7px);
    -webkit-backdrop-filter: blur(9.7px);
    /* border: 1px solid rgba(204, 204, 204, 0.3); */
}
#footer{
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 10vh;
    width: 100vw;
    align-items: center;
    color: white;
    background: rgba(255, 255, 255, 0.2);
    /* border-radius: 16px; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 0px solid rgba(255, 255, 255, 0.3);

}
.navbar {
    background: #009F9D;
    display: flex;
    justify-content: space-around;
    padding: 1.5rem;
    width: 100%;
    max-height: 10vh;
}